.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    margin: 20px 0;
}

ul > li {
    margin-bottom: 10px;
    width: fit-content;
    list-style: none;
    padding: 5px;

}

ul > li.active {
    border: 3px solid rgba(255, 0, 0, 0.58);
}

li > p {
    display: inline-block;
    margin: 0 10px 0 0;
}

button.delete-button,
button.edit-button {
    width: 40px;
    height: 30px;
    margin-left: 10px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 0;
}

button.delete-button {
    background: rgba(255, 0, 0, 0.56);
}

button.edit-button {
    background: rgba(255, 255, 0, 0.53);
}

input.search {
    width: 100%;
    margin-bottom: 50px;
}

label {
    display: block;
}

.card {
    margin-right: 20px;
    position: relative;
}

.promo-percent {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    text-align: center;
    line-height: 3;
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
    background: red;
    border-radius: 50%;
}

.card > img {
    max-height: 286px;
    height: 100%;
}

.card a {
    text-decoration: none;
}

.col-md-6 {
    margin: 20px 0;
}

s {
    color: #cccccc;
    margin-right: 5px;
}